<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h3 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body><h3>
    <div>
    <form action="{{ url_for('proxy') }}" method="POST">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url"><br><br>
        <label for="ip">NO OF IPs:</label>
        <input type="number" id="ip" name="ip"><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
    </h3>
    </centre>
</body>
</html>